section.messages {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.message-container {
  background: rgb(66, 65, 83);
  background: linear-gradient(
    90deg,
    rgba(66, 65, 83, 1) 6%,
    rgba(77, 88, 98, 1) 48%,
    rgba(81, 97, 98, 1) 78%
  );

  width: 70%;
  margin: 0 20px;
  height: 80vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.inbox-container {
  background: rgb(66, 65, 83);
  background: linear-gradient(
    90deg,
    rgba(66, 65, 83, 1) 6%,
    rgba(77, 88, 98, 1) 48%,
    rgba(81, 97, 98, 1) 78%
  );
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
}

.item-details {
  background-color: whitesmoke;
  margin: 1em;
  padding: 1em;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-history {
  background-color: white;
  height: 65%;
  margin: 0 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message-title {
  /* backgroundcolor: rgb(107, 141, 107); */
  margin: 0 auto;
  padding: 0 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: whitesmoke;
}

.message-text {
  border-radius: 5px;
  margin: 20px 30px;
  padding: 13px;
  color: black;
}

.message-text.recipient {
  background-color: lightslategrey;
  margin-right: auto;
}

.message-text.sender {
  background-color: deepskyblue;
  margin-left: auto;
}

.message-form {
  background-color: antiquewhite;
  margin: 0 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
form {
  margin: 20px;
  border: none;
  width: 100%;
  display: flex;
}

form textarea {
  width: 100%;
  border: none;
  border-bottom: solid grey 3px;
  margin-bottom: 0.5em;
}
.send-button {
  margin-right: 25px;
}

#item-name-price {
  display: flex;
  justify-content: space-between;
}

#item-name-price p {
  padding: 0 20px;
}
