section.messages {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
}

.message-container {
  background-color: lightgray;
  width: 70%;
  margin: 0 20px;
  height: 900px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.inbox-container {
  background-color: grey;
  width: 20%;
  margin: 0 auto;
  border-radius: 10px;
}

.item-details {
  background-color: forestgreen;
  margin: 1em;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
}

.message-history {
  background-color: white;
  height: 70%;
  margin: 0 35px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.message-title {
  /* backgroundcolor: rgb(107, 141, 107); */
  margin: 0 auto;
  padding: 0 50px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.message-text {
  border-radius: 5px;
  margin: 20px 30px;
}
.message-text.recipient {
  background-color: lightslategrey;
  margin-right: auto;
}

.message-text.sender {
  background-color: deepskyblue;
  margin-left: auto;
}

.message-form {
  background-color: antiquewhite;
  margin: 0 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
form {
  margin: 20px;
  border: none;
  width: 100%;
}

form textarea {
  width: 100%;
  border: none;
  border-bottom: solid grey 3px;
  margin-bottom: 0.5em;
}
.send-button {
  margin-right: 25px;
}
