body {
  padding-top: 10rem;
}
.item-card {
  padding: 1rem;
  margin-top: 25rem;
  height: 22rem;
  margin: 25px auto;
  width: 50%;
  background: rgb(66, 65, 83);
  background: linear-gradient(
    90deg,
    rgba(66, 65, 83, 1) 6%,
    rgba(77, 88, 98, 1) 48%,
    rgba(81, 97, 98, 1) 78%
  );
  border-radius: 25px;
  margin-bottom: 5rem;
  padding-right: 2rem;

}

/* icon secion */
.icon-section {
  display: flex;
  justify-content: flex-end;
}
.icon-button {
  padding: 0;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: gray;
  cursor: pointer;
}

.item-icons.fas {
  color: yellow;
}
.icon-section .icon-button i:hover {
  color: red;
}
.item-icons {
  color: white;
  padding: 15px;
}
/* item details  */
.container {
  display: flex;
  margin-top: 10px;
}
/* image section  */
.item-image {
  padding-left: 2rem;
  height: 200px;
}
/* item text  */
.item-content {
  color: white;
  margin-left: 20px;
  padding-left: 2rem;
}
.item-price {
  /* text-align: right; */
}
/* sold section  */
.sold-section {
  display: flex;
  justify-content: flex-end;
}
.sold{
color:yellow;
margin-right:2rem;
}
