.price {
  font-size: 22px;
}

.item-details {
  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  justify-content: left;
  align-items: flex-start;
  flex-grow: 3;
  color: whitesmoke;
  padding-top: 2rem;
  padding-bottom: 2rem;
  justify-content: space-between;
}

.image {
  display: flex;
  flex-direction: column;
  background: inherit;
  width: 5rem;
  height: 12rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.image-item-container {
  background: rgb(66, 65, 83);
  background: linear-gradient(
    90deg,
    rgba(66, 65, 83, 1) 6%,
    rgba(77, 88, 98, 1) 48%,
    rgba(81, 97, 98, 1) 78%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 25px;

  width: 75rem;
  margin-left: 10rem;
  margin-top: 10rem;
  margin-right: 15rem;
  margin-bottom: 1rem;
}

.text-area {
  width: 50rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.message-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 25px;

  background: rgb(66, 65, 83);
  background: linear-gradient(
    90deg,
    rgba(66, 65, 83, 1) 6%,
    rgba(77, 88, 98, 1) 48%,
    rgba(81, 97, 98, 1) 78%
  );
  width: 75rem;
  color: whitesmoke;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 10rem;
  margin-top: 1rem;
  margin-right: 15rem;
  margin-bottom: 5rem;
  flex-grow: 3;
  height:60%;
}

.create-item-container {

  background: rgb(66, 65, 83);
  background: linear-gradient(
    90deg,
    rgba(66, 65, 83, 1) 6%,
    rgba(77, 88, 98, 1) 48%,
    rgba(81, 97, 98, 1) 78%
  );
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(10, 10, 10);
  border-radius: 25px;
  /* background: #434440b6; */
  color:white;
  width: 75rem;
  height: 30rem;
  /* margin-left: 10rem;
  margin-top: 10rem;
  margin-right: 15rem;
  margin-bottom: 1rem; */
  margin:auto;
  margin-top:10rem;
  line-height: 3;
}

.form-field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
}

.label {
  align-items: center;
}

.price {
  width: 20rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 10rem;
  padding-right: 5rem;
}

select {
  width: 15rem;
  height: 2rem;
  margin-left: 1rem;
  margin-right: 2rem;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.button {
  float: right;
}

.button:hover {
  background-color: #abc257;
}

.text-area{
  margin-left:6rem;
  padding-bottom: 2rem;
}
#toy_name{
  margin-left:5.7rem;
}
#description{
  margin-left:3rem;
}
#image_url{
  margin-left:4rem;
}
#category_id{
margin-left:1rem;

}

#create-item{
margin-right:1rem;

}
